<ion-header>
  <ion-toolbar>
    <ion-title>Search places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center">

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{loadedPlaces[0].title}}</ion-card-title>
            <ion-card-subtitle class="ion-no-padding">{{loadedPlaces[0].description}}</ion-card-subtitle>
            <ion-img [src]=loadedPlaces[0].imageURL></ion-img>
            <p>The place costs {{loadedPlaces[0].price|currency}} per night!</p>
          </ion-card-header>
          <div class="ion-padding-bottom">
            <ion-button fill="clear" shape="round" color="primary"
              [routerLink]="['/', 'places','tabs','tab1',loadedPlaces[0].id]" routerDrection="forward">
              Book now
            </ion-button>
          </div>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center">
        <ion-list>
          <ion-item *ngFor="let place of loadedPlaces.slice(1)" [routerLink]="['/', 'places','tabs','tab1',place.id]"
            routerDirection="forward" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]=place.imageURL></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
