<ion-header>
    <ion-toolbar>
        <ion-title>Book {{place.title}}!</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content>
    <!-- <h1>Book this place!</h1> -->
    <p>{{place.description}}</p>
    <ion-button (click)="onBookedPlace()" expand="block" fill="clear" shape="round">
        Book
    </ion-button>
</ion-content>